<div class="w-full aspect-video">
  <iframe
    class="w-full h-full"
    src="https://public.tableau.com/views/TargetEcommerceDashboard/ExecutiveDashboard"
    frameborder="0"
    allowfullscreen="true"
  ></iframe>
</div>